$primary-color: #03a9f4;
$secondary-color: #c8eeff;
$text-heading-color: #000000;
$text-paragraf-color: #626262;
$primary-font: "Poppins", sans-serif;

.header-image {
  width: 100%;
  margin-bottom: 60px;
}

.logo-website {
  width: 60px;
}

.navbar-menu {
  font-family: $primary-font;
  font-size: 18px;
}

.heading-title {
  font-weight: 600;
  font-size: 34px;
  font-family: $primary-font;
  color: $text-heading-color;
}

.text-paragraf {
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 18px;
  font-family: $primary-font;
  color: $text-paragraf-color;
}

.text-paragraf-2 {
  margin-top: 20px;
  font-size: 18px;
  font-family: $primary-font;
  color: $text-paragraf-color;
}

.nikutsu-text {
  color: $primary-color;
}

.card-style {
  height: 310px;
  padding: 40px;
  background-color: $secondary-color;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 20px;
}

.card-product-style {
  border: none;
  margin-top: 20px;
}

.footer-card {
  background-color: $primary-color;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pragraf-footer-card {
  font-family: $primary-font;
  padding: 14px;
  color: #ffff;
}

.row-card {
  justify-content: center;
  margin-bottom: 80px;
}

.row-card-2 {
  justify-content: center;
}

.ilustrasi-image {
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn-shopee {
  background-color: #f1582c;
  margin-bottom: 80px;
  width: 140px;
  color: white;
  font-family: $primary-font;

  &:hover {
    background-color: #cf4119;
    color: white;
  }
}

.btn-wa {
  background-color: #58cc27;
  width: 140px;
  color: white;
  margin-bottom: 100px;
  font-family: $primary-font;

  &:hover {
    background-color: #298800;
    color: white;
  }
}

.btn-tokopedia {
  background-color: #58cc27;
  width: 140px;
  color: white;
  margin-top: -80px;
  margin-left: 10px;
  font-family: $primary-font;

  &:hover {
    background-color: #298800;
    color: white;
  }
}

footer {
  background-color: $text-heading-color;
  padding: 20px;

  .text-footer {
    color: #ffff;
    text-align: center;
    font-family: $primary-font;
    margin-top: 14px;

    .fire {
      width: 20px;
      margin-top: -7px;
      margin-left: 4px;
    }
  }
}
