.header-image {
  width: 100%;
  margin-bottom: 60px;
}

.logo-website {
  width: 60px;
}

.navbar-menu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.heading-title {
  font-weight: 600;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.text-paragraf {
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #626262;
}

.text-paragraf-2 {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #626262;
}

.nikutsu-text {
  color: #03a9f4;
}

.card-style {
  height: 310px;
  padding: 40px;
  background-color: #c8eeff;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 20px;
}

.card-product-style {
  border: none;
  margin-top: 20px;
}

.footer-card {
  background-color: #03a9f4;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pragraf-footer-card {
  font-family: "Poppins", sans-serif;
  padding: 14px;
  color: #ffff;
}

.row-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.row-card-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ilustrasi-image {
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn-shopee {
  background-color: #f1582c;
  margin-bottom: 80px;
  width: 140px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.btn-shopee:hover {
  background-color: #cf4119;
  color: white;
}

.btn-wa {
  background-color: #58cc27;
  width: 140px;
  color: white;
  margin-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

.btn-wa:hover {
  background-color: #298800;
  color: white;
}

.btn-tokopedia {
  background-color: #58cc27;
  width: 140px;
  color: white;
  margin-top: -80px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}

.btn-tokopedia:hover {
  background-color: #298800;
  color: white;
}

footer {
  background-color: #000000;
  padding: 20px;
}

footer .text-footer {
  color: #ffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 14px;
}

footer .text-footer .fire {
  width: 20px;
  margin-top: -7px;
  margin-left: 4px;
}
/*# sourceMappingURL=main.css.map */